<form>
    <p>Параметры запуска:</p>
    <div class="tape-length">
        <p>Длина ленты:</p>
        <input (change)="onTapeLengthChange($event)" class="input-text" type="number" id="tape-length" min="10" max="200" value=16>
    </div>
    <div class="operand">
        <p>Операнд 1:</p>
        <input (change)="onOperandChange()" class="input-text" [(ngModel)]="operand1" name="op1" type="number" id="operand-1" min="0" max="20">
    </div>
    <div class="operand">
        <p>Операнд 2:</p>
        <input (change)="onOperandChange()" class="input-text" [(ngModel)]="operand2" name="op2" type="number" id="operand-2" min="0" max="20">
    </div>
    
    <div class="launch">
        <p>Режим:</p>
        <div>
            <input type="radio" id="standard" name="drone" (click)="changeMode('standard')"
                   checked>
            <label for="standard">СТАНДАРТНЫЙ</label>
        </div>
        <div>
            <input type="radio" id="step-by-step" name="drone" (click)="changeMode('step-by-step')">
            <label for="step-by-step">ПОШАГОВЫЙ</label>
        </div>
        <div>
            <input type="radio" id="fast" name="drone" (click)="changeMode('fast')">
            <label for="fast">БЫСТРЫЙ</label>
        </div>
    </div>
    <div class="center">
        <button (click)="execute()" class="common-button launch-button" type="submit">ЗАПУСТИТЬ</button>
    </div>
</form>
