<div class="dialog-container">
    <h1>Сведения об авторах</h1>

    <p class="title-p">Самарский университет, институт информатики и кибернетики</p>
    <p>Курсовую работу по дисциплине <strong>"Программная инженерия"</strong></p>
    <p>по теме <strong>"Система моделирования вычислительной машины Тьюринга"</strong></p>
    <p>выполнили студенты группы <strong>6414-020302D</strong></p>
    <ul>
        <li>Бахарев Олег</li>
        <li>Быков Всеволод</li>
    </ul>
    <br>
    <p>Самара 2022</p>
</div>

