@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.header-buttons {
    width:100%;
    text-align: right;
}

.row {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header-button {
    min-width: 7%;
    min-height: 7%;
    font-size: 18px;
    display: inline-block;
    margin-left: 10px;
}

.common-button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background: rgba(22, 192, 172, 0.78);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(0.14deg);
}

.algorithm {
    margin-left: 5%;
    width: 70%;
}

.tape {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.tape-element-scope {
    flex: 1;
    margin-left: 1px;
    margin-right: 1px;
    width: available;
}

.tape-element {
    border:1px solid #333333;
    text-align: center;
}

.tape-element-scope .label {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
}

.settings {
    min-height: 70%;
    min-width: 20%;
    margin-top: 20px;
    background: rgba(217, 217, 217, 0.29);
    border: 1px solid #000000;
    padding-left: 5px;
    height: fit-content;
}

.center {
    text-align: center;
}

.settings .input-text{
    min-width: 96%;
}

.launch-button {
    text-align: center;
    min-width: 7%;
    min-height: 7%;
    font-size: 20px;
    margin-bottom: 10px;
}

.alphabet {
    margin-top: 20px;
}

.table {
    /*margin-top: 5px;*/
    margin: 0;
    padding: 0;
    display: flex;
    /*flex-flow: row nowrap;*/
    justify-content: left;
}

.table > ul {
    list-style-type: none;
}

.column {
    width: 100%;
    padding: 0;
}

.column > li {
    padding: 0;
    /*display: inline-block;*/
    border: 1px solid grey;
    min-width: 100px;
    min-height: 50px;
    text-align: center;
}

.selected {
    background: lightgreen;
}

.column .column-header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background: lightgrey;
    font-size: 16px;
    font-weight: bold;
}