<div>
  <h1>Машина Тьюринга</h1>
  <div class="header-buttons">
      <button class="header-button common-button" type="submit"> О СИСТЕМЕ</button>
      <button class="header-button common-button" type="submit"> ОБ АВТОРАХ</button>
  </div>
  <hr>
  <div class="main row">
      <div class="algorithm">
          <div class="tape-scope">
              <div class="tape-button">
                  <button (click)="moveLeftTapeHead()" id="tape-button-left">←</button>
              </div>
              <div class="tape">
                  <ng-template #viewContainerRef></ng-template>
              </div>
              <div class="tape-button">
                  <button (click)="moveRightTapeHead()" id="tape-button-right">→</button>
              </div>
          </div>
          <app-alphabet [symbols] = "symbols"></app-alphabet>
          <app-alg-table (newNumberOfStates)="setNumberOfStates($event)"  (newItemEvent)="setCommands($event)" [symbols] = "symbols"></app-alg-table>
      </div>
      
      <app-settings [symbols] = "symbols" [commands]="commands" [tapeHeadPosition]="tapeHeadPosition" [numberOfStates]="numberOfStates" class="settings" (taleLengthChange)="onTapeLengthChange($event)"></app-settings>
      
  </div>
  
</div>