<div>
  <h1>Машина Тьюринга</h1>
  <div class="header-buttons">
      <a class="header-button common-button" target="_blank" href="http://localhost:4200/about-system.html"> О СИСТЕМЕ</a>
      <button class="header-button common-button" (click)="openDialog()" type="submit"> ОБ АВТОРАХ</button>
  </div>
  <hr>
  <div class="main row">
      <div class="algorithm">
          <div class="tape-scope">
              <div class="tape-button">
                  <button (click)="moveLeftTapeHead()" id="tape-button-left">←</button>
              </div>
              <div class="tape">
                  <ng-template #viewContainerRef></ng-template>
              </div>
              <div class="tape-button">
                  <button (click)="moveRightTapeHead()" id="tape-button-right">→</button>
              </div>
          </div>
          <app-alphabet [symbols] = "symbols" (alphabetChangeEvent)="alphabetChanges($event)"></app-alphabet>
          <app-alg-table (newNumberOfStates)="setNumberOfStates($event)"  (newItemEvent)="setCommands($event)" [symbols] = "symbols" [symbolsLength]="symbols.length"></app-alg-table>
      </div>
      <app-settings [symbols] = "symbols" [cellValues]="cellValues" [tapeHeadPosition]="tapeHeadPosition" [numberOfStates]="numberOfStates" class="settings" (tapeLengthChange)="onTapeLengthChange($event)"></app-settings>
  </div>
</div>


